.movie-card__section {
  background-color: #fafafa;
  display: grid;
  gap: 32px 20px;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  padding: 70px 60px 170px;
}

.movies-card__button {
  width: 320px;
  height: 36px;
  background-color: #f4f4f4;
}

@media (max-width: 800px) {
  .movie-card__section {
    padding-left: 30px;
    padding-right: 30px;
    gap: 36px 30px;
    grid-template-columns: repeat(auto-fill, 339px);
    padding-bottom: 165px;
  }
}

@media (max-width: 400px) {
  .movie-card__section {
    grid-template-columns: repeat(auto-fill, 300px);
    padding-top: 40px;
    gap: 20px;
  }
}
