.movie-card-list,
.movie-card-list-saved {
  padding: 70px 60px 80px;
  background-color: #fafafa;
  min-height: 86px;
}

.movie-card-list-saved {
  padding-bottom: 170px;
}

.movie-card-list__section {
  display: grid;
  gap: 32px 20px;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.movie-card-list__show-button {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.movie-card-list__text-button {
  background-color: #f4f4f4;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  transition: 0.3s linear;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 80px auto 0;
  border: none;
  cursor: pointer;
}

.movie-card-list__text-button:hover {
  opacity: 0.8;
}

.movie-card-list__error {
  color: #ee3465;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 800px) {
  .movie-card-list,
  .movie-card-list-saved {
    padding-left: 30px;
    padding-right: 30px;
  }

  .movie-card-list-saved {
    padding-bottom: 5px;
  }

  .movie-card-list__section {
    gap: 36px 30px;
    grid-template-columns: repeat(auto-fill, 339px);
    padding-bottom: 165px;
  }
}

@media (max-width: 770px) {
  .movie-card-list__text-button {
    margin-top: -86px;
    margin-bottom: 76px;
  }
}

@media (max-width: 500px) {
  .movie-card-list__text-button {
    width: 240px;
  }
}

@media (max-width: 400px) {
  .movie-card-list__section {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
  }
  .movie-card-list__text-button {
    margin-bottom: 100px;
  }
  .movie-card-list,
  .movie-card-list-saved {
    padding-top: 40px;
    padding-bottom: 0;
  }
}
