.promo {
  background-color: #dddee3;
  text-align: center;
  padding: 82px 0 122px;
  position: relative;
  letter-spacing: -2px;
}

.promo__logo {
  width: 320px;
  height: 320px;
  z-index: 0;
}

.promo__title {
  width: 730px;
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16em;
  z-index: 1;
  margin: 0;
  margin-top: 102px;
  position: absolute;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 770px) {
  .promo {
    padding-top: 227px;
    padding-bottom: 240px;
  }
  .promo__title {
    width: 690px;
  }
}

@media (max-width: 700px) {
  .promo__title {
    margin-top: 80px;
    width: 450px;
    font-size: 40px;
  }
}

@media (max-width: 520px) {
  .promo {
    padding-top: 142px;
    padding-bottom: 175px;
  }
  .promo__logo {
    width: 250px;
    height: 250px;
  }
  .promo__title {
    margin-top: 45px;
    width: 400px;
  }
}

@media (max-width: 420px) {
  .promo__logo {
    width: 250px;
    height: 250px;
  }
  .promo__title {
    margin-top: 65px;
    width: 320px;
    font-size: 32px;
  }
}
