.search {
  background-color: #fafafa;
  padding: 65px 70px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search::after {
  content: '';
  display: block;
  width: 1px;
  background-color: #e8e8e8;
  margin: 69px 0 10px;
  width: 100%;
  height: 1px;
}

.search__form {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
}

.search__content {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  height: 72px;
}

.search__films {
  display: flex;
  align-items: center;
  width: 80%;
}

.search__input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  width: 100%;
  height: 20px;
  padding: 0;
}

.search__input:focus {
  border-bottom: 1px solid #a0a0a0;
  outline: none;
}

.search__logo {
  padding: 19px 10px 19px 19px;
}

.search__submit {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-right: 19px;
}

.search__color-logo {
  cursor: pointer;
  transition: 0.3s linear;
}

.search__color-logo:hover {
  opacity: 0.8;
}

.search__short-films::before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #cbcbcb;
  transform: translateX(-50%);
  margin-right: 29px;
}

.search__text {
  font-size: 14px;
  font-weight: 400;
  padding-left: 14px;
  padding-right: 20px;
  margin: 0;
}

.search__checkbox {
  display: flex;
}

.search__short-films {
  display: flex;
  align-items: center;
}

@media (max-width: 770px) {
  .search {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
  }

  .search::after {
    margin-top: 105px;
  }
  .search__short-films::before {
    margin-right: 19px;
  }
  .search__horizontal-line {
    margin-top: 105px;
  }
}

@media (max-width: 550px) {
  .search__content {
    flex-direction: column;
  }
  .search__films {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  }
  .search__logo {
    display: none;
  }
  .search__short-films::before {
    display: none;
  }
  .search__checkbox {
    align-items: center;
    margin-top: 60px;
    padding-bottom: 0;
  }
  .search__text {
    padding-right: 0;
    font-size: 11px;
  }
  .search__submit {
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .search {
    padding-left: 10px;
    padding-right: 10px;
  }
  .search__input {
    font-size: 14px;
  }
  .search__content {
    height: 70px;
  }
}
