.navtab {
  background-color: #f5f5f5;
  margin: 0;
}

.navtab__navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navtab__container {
  display: flex;
  justify-content: center;
}

.navtab__text {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23em;
  margin-right: 40px;
  cursor: pointer;
  transition: 0.3s linear;
}

.navtab__text:last-child {
  margin-right: 0;
}

.navtab__text:hover {
  opacity: 0.7;
}

.navtab__link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navtab__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: 0.3s linear;
}

.navtab__link:hover::after {
  opacity: 0.8s;
}

@media (max-width: 400px) {
  .navtab__navigation {
    padding-top: 26px;
  }
  .navtab__text {
    margin-right: 24px;
    font-size: 11px;
  }
}
